@model Application.ViewModels.Users.UsersListViewModel
@{
    ViewData["Title"] = "پنل کاربری" + " " + User.Identity.Name;
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">اطلاعات کاربری</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <p>   نام : @Model.Name</p>
                        <p>   نام خانوادگی : @Model.Family</p>
                        <p>   موبایل : @Model.Mobile</p>
                        <p>   کد پرسنلی : @Model.PersonnelCode</p>
                        <hr />
                        <a href="/UserPanel/Home/Edit" class="btn btn-warning btn-round text-white">ویرایش حساب کاربری</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            @* <img class="img" src="/useravatar/@model.useravatar"> *@
                        </a>
                    </div>
                    <div class="card-body">
                        @*It Is My Description Here*@
                        <h6 class="card-category text-gray">@(Model.Name + " " + Model.Family)</h6>
                        <h4 class="card-title">@User.Identity.Name</h4>

                        <a href="/Account/Logout" class="btn btn-danger btn-round">خروج</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
