@* @page
@model WebUI.Pages.UserPanel.IndexModel
@{
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                داشبورد

            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

            </ul>

            <div class="clearfix"></div>
            <div class="alert alert-success text-center">
                نگاه کلی به سایت
            </div>
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-user-circle-o"></i></div>
                        <div class="count">@_UserService.UserFinalCount() نفر</div>
                        <h3>تعداد کاربران سایت</h3>

                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-file-video-o"></i></div>
                        <div class="count">@_CourseService.CourseCount() دوره</div>
                        <h3>تعداد دوره های اموزشی</h3>

                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-comment-o"></i></div>
                        <div class="count">@_CourseService.CourseCommentCount() نظر</div>
                        <h3>نظرات تایید نشده</h3>

                    </div>
                </div>

                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-pencil-square-o"></i></div>
                        <div class="count">@_OrderService.GetNotFinalyOrderCount() فاکتور</div>
                        <h3>فاکتورهای پرداخت نشده</h3>

                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-users"></i></div>
                        <div class="count">@_CourseService.GetTeachersCount() نفر</div>
                        <h3>تعداد مدرسین</h3>

                    </div>
                </div>

                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-home"></i></div>
                        <div class="count">@_CourseService.GetCompaniesCount() شرکت</div>
                        <h3>تعداد شرکت ها</h3>

                    </div>
                </div>

                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-clock-o"></i></div>
                        @{
                            int courseTime = _CourseService.GetSumTimeCourses();
                            TimeSpan spWorkMin = TimeSpan.FromMinutes(courseTime);
                            string workHours = spWorkMin.ToString(@"hh\:mm");

                        }
                        <div class="count">@workHours ساعت </div>
                        <h3> کل زمان اموزش</h3>

                    </div>
                </div>

                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-money"></i></div>
                        <div class="count">@_OrderService.GetSumOrderCourses().ToString("#,0") تومان  </div>
                        <h3> کل در آمد</h3>

                    </div>
                </div>
            </div>
        </div>

        <div class="x_content">

            <div class="alert alert-info text-center">
                آمار کلی تعداد و میزان فروش دوره های اموزشی
            </div>
            <div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                <div class="row">
                    <div class="col-sm-9">

                        @{
                            int rowCount = 1;
                        }
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action dataTable no-footer" role="grid" aria-describedby="datatable-checkbox_info">
                            <thead>
                                <tr role="row">
                                    <th style="width: 50px;">ردیف</th>
                                    <th style="width: 100px;">تصویر دوره</th>
                                    <th style="width: 138px;">عنوان دوره</th>
                                    <th style="width: 190px;">تعداد خرید</th>
                                    <th style="width: 100px;">میزان فروش دوره</th>

                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in _OrderService.GetFullOrderItems())
                                {

                                    <tr role="row" class="odd">
                                        <td>@rowCount</td>
                                        <td><img src="/course/thumbnail/@item.CourseImageName" height="70" /></td>
                                        <td>@item.CourseFaTitle</td>
                                        <td>@item.OrderDetails.Count</td>
                                        <td>@item.OrderDetails.Sum(c => c.CoursePrice).ToString("#,0 تومان")</td>
                                    </tr>
                                    rowCount++;
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-3 ">
                        <div>
                            <div class="x_title">
                                <h2>اخرین ثبت نام کنندگان</h2>

                                <div class="clearfix"></div>
                            </div>

                            <ul class="list-unstyled top_profiles scroll-view">
                                @foreach (var item in _UserService.GetLatestRegisteredUsers())
                                {
                                    <li class="media event">
                                        <a class="pull-left border-aero profile_thumb">
                                            <i class="fa fa-user aero"></i>
                                        </a>
                                        <div class="media-body">
                                            <a class="title" href="#">@(item.FirstName + " " + item.LastName)</a>
                                            @if (item.IsActive)
                                            {
                                                <p>
                                                    <strong>وضعیت : </strong>
                                                    <strong class="text-success">فعال</strong>
                                                </p>
                                            }
                                            else
                                            {
                                                <p>
                                                    <strong>وضعیت : </strong>
                                                    <strong class="text-danger">غیر فعال</strong>
                                                </p>
                                            }
                                            <p>
                                                <small>@item.CreateDate.ToShamsi()</small>
                                            </p>
                                        </div>
                                    </li>
                                }

                            </ul>


                        </div>
                    </div>

                </div>


            </div>



        </div>
    </div>
</div> *@