<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>پنل مدیریت   </title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="~/apl/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<!-- Font Awesome -->
	<!-- Ionicons -->
	@* <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> *@
	<!-- DataTables -->
	<link rel="stylesheet" href="~/apl/plugins/datatables/dataTables.bootstrap4.css">
	<link href="~/apl/plugins/datatables/datatables.bootstrap4.css" rel="stylesheet" />
	<!-- Theme style -->
	<link rel="stylesheet" href="~/apl/dist/css/adminlte.css">
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

	<!-- bootstrap rtl -->
	<link rel="stylesheet" href="~/apl/dist/css/bootstrap-rtl.min.css">
	<!-- template rtl version -->
	<link rel="stylesheet" href="~/apl/dist/css/custom-style.css">
	<!-- AdminLTE for demo purposes -->
	<link href="~/apl/plugins/select2/select2.min.css" rel="stylesheet" />

	@RenderSection("Style")


</head>
<body class="sidebar-mini ">
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand border-bottom navbar-light bg-white">
			
			<!-- Left navbar links -->
			<ul class="nav ">
				<li class="nav-item">
					<a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
				</li>
				<li class="nav-item d-none d-sm-inline-block">
					<a asp-controller="DesignExecution" asp-action="Index" class="nav-link">صفحه اصلی</a>
				</li>


				<li class="nav-item d-none d-sm-inline-block">
					<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
						<button type="submit" class="nav-link btn  ">خروج</button>

					</form>
				</li>
			</ul>
	
			<ul class="navbar-nav mr-auto">
				<!-- Messages Dropdown Menu -->
				<li class="nav-item dropdown">
	
				</li>
				<!-- Notifications Dropdown Menu -->
			
				<li class="nav-item">
					<a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i class="fa fa-th-large"></i></a>
				</li>
			</ul>
		</nav>
		<aside class=" main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a href="#" class="brand-link" data-widget="pushmenu">
				<img src="~/apl/dist/img/letterk.png" alt="Logo" class="brand-image img-circle elevation-3"
					 style="opacity: .8">
				<span class="brand-text font-weight-light">سیستم باسکول همیار </span>
			</a>

			<!-- Sidebar -->
			<div class="sidebar">
				<div>
					<!-- Sidebar user panel (optional) -->
					<div class="user-panel mt-3 pb-3 mb-3 d-flex">
						<div class="image">
						</div>
						<div class="info">
							@RenderSection("ProfileName")
							<a href="#" class="d-block">دپارتمان طراحی و اجرا</a>
						</div>
					</div>

					<!-- Sidebar Menu -->
					<nav class="mt-2">
						<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
							<!-- Add icons to the links using the .nav-icon class
								 with font-awesome or any other icon font library -->
							<li class="nav-item has-treeview menu-open">
								<a href="#" class="nav-link active">
									<i class="nav-icon fa fa-table"></i>
									<p>
										منو
										<i class="fa fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item has-treeview">
										<a href="#" class="nav-link">
											<i class="nav-icon fa fa-plus-square-o"></i>
											<p>
												مبانی
												<i class="fa fa-angle-left right"></i>
											</p>
										</a>
										<ul class="nav nav-treeview" style="display: none;">
											<li class="nav-item">
												<a class="nav-link" asp-controller="BaskoulList" asp-action="BaskoulList">

													<i class="fa fa-circle-o nav-icon"></i>
													<p>تعریف انواع باسکول </p>
												</a>
											</li>
										</ul>
									</li>
									<li class="nav-item has-treeview">
										<a class="nav-link" href="#">
											<i class="nav-icon fa fa-plus-square-o"></i>
											<p>
												عملیات
												<i class="fa fa-angle-left right"></i>
											</p>
										</a>
										<ul class="nav nav-treeview" style="display: none;">
											<li class="nav-item">
												<a class="nav-link" asp-controller="BargeBaskoul" asp-action="BargeAnbar" asp-route-type="1">

													<i class="fa fa-circle-o nav-icon"></i>
													<p>برگه ورود انبار</p>
												</a>
											</li>
										</ul>
										<ul class="nav nav-treeview" style="display: none;">
											<li class="nav-item">
												<a class="nav-link" asp-controller="BargeBaskoul" asp-action="BargeAnbar" asp-route-type="2">
													<i class="fa fa-circle-o nav-icon"></i>
													<p>برگه خروج انبار</p>
												</a>
											</li>
										</ul>
									</li>
									<li class="nav-item has-treeview">
										<a href="#" class="nav-link">
											<i class="nav-icon fa fa-plus-square-o"></i>
											<p>
												گزارشات
												<i class="fa fa-angle-left right"></i>
											</p>
										</a>
										<ul class="nav nav-treeview" style="display: none;">
											<li class="nav-item">
												<a class="nav-link" asp-controller="RealEstateConsultantReport" asp-action="FilingUserByActivitAndApplicantActivitInMoonReport">

													<i class="fa fa-circle-o nav-icon"></i>
													<p>عملکردمشاوران به تفکیک </p>
												</a>
											</li>

											<li class="nav-item">
												<a class="nav-link" asp-controller="FilingUserDetail" asp-action="FilingUserByActivitInMoonReport">

													<i class="fa fa-circle-o nav-icon"></i>
													<p>عملکرد مشاوران به تفکیک ماه </p>
												</a>
											</li>
										</ul>

									</li>

									@if(User.IsInRole("Administrator") )
									{
										<li class="nav-item has-treeview">
											<a href="#" class="nav-link">
												<i class="nav-icon fa fa-plus-square-o"></i>
												<p>
													مدیریت
													<i class="fa fa-angle-left right"></i>
												</p>
											</a>
											<ul class="nav nav-treeview" style="display: none;">

												<li class="nav-item">
													<a class="nav-link" asp-controller="UserManager" asp-action="Index">

														<i class="fa fa-circle-o nav-icon"></i>
														<p> تنظیم دسترسی کاربران </p>
													</a>
												</li>
											</ul>
										</li>
									}
								</ul>
							</li>
						</ul>
					</nav>
					<!-- /.sidebar-menu -->
				</div>
			</div>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1> </h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-left">
						
							</ol>
						</div>
					</div>
				</div><!-- /.container-fluid -->
			</section>

			<!-- Main content -->

			<section class="content">
				<div class="container-fluid">
				@RenderSection("Body")

				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
		</footer>


	</div>
	<!-- ./wrapper -->
	<!-- jQuery -->
	<script src="~/apl/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="~/apl/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- DataTables -->
	<script src="~/apl/plugins/datatables/jquery.dataTables.js"></script>
	<script src="~/apl/plugins/datatables/dataTables.bootstrap4.js"></script>
	<!-- SlimScroll -->
	<script src="~/apl/plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="~/apl/plugins/fastclick/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="~/apl/dist/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="~/apl/dist/js/demo.js"></script>

	<script src="~/apl/plugins/select2/select2.full.min.js"></script>

@* 	<script>
		$.widget.bridge('uibutton', $.ui.button)
	</script> *@
	@RenderSection("script")
	<script src="~/js/easy-number-separator.js"></script>
	<script>
		easyNumberSeparator({
			selector: '.number-separator',
			separator: ',',
			decimalSeparator: '.',

		})
	</script>

</body>
</html>
