@model Application.ViewModels.Baskoul.PagedResultBarge

<div class="row">
    <div class="col-md-12">

        @if (Model == null)
        {
            <h1>برگه‌‌ای برای نمایش وجود ندارد</h1>
        }
        @if (Model != null)
        {
            <table id="myTable" class="table table-bordered table-striped dataTable dtr-inline">
                <thead>
                    <tr>
                        <th class="sortable sorting sorting_asc" data-column="10" data-order="asc">ردیف</th>
                        <th class="sortable sorting sorting_asc" data-column="1" data-order="asc">شماره قبض</th>
                        <th class="sortable sorting sorting_asc" data-column="2" data-order="asc">شماره ماشین</th>
                        <th>وزن پر</th>
                        <th>وزن خالی</th>
                        <th>نوع برگه</th>
                        <th>وزن خالص</th>
                        <th style="width: 260px">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var barge in Model.bargeBaskoulViews)
                    {
                        <tr class="dtr-control sorting_1 odd" data-href="@Url.Action("EditBargeBaskoul", "BargeBaskoul", new { id = barge.ID })">
                            <td class="dtr-control sorting_1">@barge.ID</td>
                            <td>@barge.GhabzBaskolID</td>
                            <td>@barge.ShomareMashin</td>
                            <td>@barge.VaznPor</td>
                            <td>@barge.VanKhali</td>
                            @if (barge.TypeBarge == 2)
                            {
                                <td>خروج کالا</td>
                            }
                            else if (barge.TypeBarge == 1)
                            {
                                <td>ورود کالا</td>
                            }
                            <td>@((barge.VaznPor ?? 0) - (barge.VanKhali ?? 0) - (barge.VaznBasteBandi ?? 0))</td>
                            <td>
                                <a class="btn btn-outline-primary" asp-controller="Reports" asp-action="PrintSimpleBarge" asp-route-id="@barge.ID">چاپ ساده</a>
                                <a class="btn btn-outline-primary" asp-controller="Reports" asp-action="PrintTripleBarge" asp-route-id="@barge.ID">چاپ سه برگه</a>
                                <a class="btn btn-outline-primary" asp-controller="BargeBaskoul" asp-action="EditBargeBaskoul" asp-route-id="@barge.ID" target="_blank">ویرایش</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
            نمایش @Model.StartEntry تا @Model.EndEntry از @Model.TotalCount برگه
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
            <ul class="pagination justify-content-center">
                @if (Model.CurrentPage > 1)
                {
                    <li class="paginate_button page-item previous">
                        <a href="@Url.Action("ListBargeAnbar", new { type = Model.Type, page = Model.CurrentPage - 1, searchTerm = Model.SearchTerm })"
                           class="page-link ajax-page-link" data-page="@(Model.CurrentPage - 1)">قبلی</a>
                    </li>
                }
                else
                {
                    <li class="paginate_button page-item previous disabled">
                        <a href="#" class="page-link">قبلی</a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="paginate_button page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a href="@Url.Action("ListBargeAnbar", new { type = Model.Type, page = i, searchTerm = Model.SearchTerm })"
                           class="page-link ajax-page-link" data-page="@i">@i</a>
                    </li>
                }

                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="paginate_button page-item next">
                        <a href="@Url.Action("ListBargeAnbar", new {type = Model.Type, page = Model.CurrentPage + 1, searchTerm = Model.SearchTerm })"
                           class="page-link ajax-page-link" data-page="@(Model.CurrentPage + 1)">بعدی</a>
                    </li>
                }
                else
                {
                    <li class="paginate_button page-item next disabled">
                        <a href="#" class="page-link">بعدی</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

